.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
    height: 100%;
} 

.pagination{
    padding-left: 10%;
    padding-right: 10%;
}

.field{
  margin: 20px  ;
}